.adminLogin {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;
    padding: 10px;

    font-size: 20px;
    text-align: center;

    &__form {
        margin-top: 15px;
        padding: 25px;

        border: 1px solid #cbcbcb;
    }

    &__formItem {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__submitBox {
        margin-top: 20px;
    }

    &__error {
        margin-top: 15px;

        color: red;
    }
}
