.adminLogin {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;
    padding: 10px;

    font-size: 20px;
    text-align: center;

    &__form {
        margin-top: 15px;
        padding: 25px;

        border: 1px solid #cbcbcb;
    }

    &__formItem {
        &.rr-formItem--textInput {
            input {
                border: 1px solid #cbcbcb;
            }
        }

        &[data-type='captcha'] {
            & > div {
                & > div {
                    margin: 0 auto;
                }
            }
        }

        &:not(:first-child) {
            margin-top: 20px;
        }

        &__input {
            width: 100%;
            padding: 10px;
        }
    }

    &__captchaInput {
        width: max-content;

        margin: 15px auto 0;

        div {
            width: max-content;
        }
    }

    &__submitButton {
        margin-top: 20px;

        button {
            padding: 5px 20px;

            background-color: #f1f1f1;
            border: 1px solid #cbcbcb;

            transition: all 0.3s ease-in-out;

            cursor: pointer;

            &:hover {
                background-color: #fdfdfd;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    &__error {
        margin-top: 15px;

        color: red;
    }
}
