doctype html
html
	meta(charset='utf-8')
	title Панель управления / api@nyan.stream

	script.
		if (location.search == '?a') { location.replace(`.${location.pathname}`) }

	each CSS in ['aw-every', 'admin-panel']
		link(rel='stylesheet' href=`https://asianwave.ru/files/css/${CSS}.min.css`)

body
	div.container
		header #{mode}
		main.panel
			form(action='?a' method='post')
				include inc/forms/add-air.pug
			form(action='?a' method='post')
				include inc/forms/rm-air.pug

			if mode == 'admin'
				form(action='?a' method='post')
					include inc/forms/expired-clear.pug
				form(action='?a' method='post')
					include inc/forms/noti.pug

	script(data-init=`${init_data}`).
		console.info(JSON.parse(document.currentScript.dataset.init))
