doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title NYAN.STREAM / API

		link(rel='shortcut icon' href='https://favicon.yandex.net/favicon/nyan.stream')

	body
		p Это API-сервер проекта #[a(href='https://nyan.stream?from=api') NYAN.STREAM].
		p Здесь нет ничего интересного.

		// исходники сервера можно поглядеть здесь: github.com/nyanstream/rerouch
