fieldset.rm-air
	legend Удалить последний эфир из расписания

	p
		span Последний эфир: #[samp.info-anime]

	p
		label(for='rm_air_cnf') Вы точно этого хотите?
		input#rm_air_cnf(name='rm_air_cnf' type='checkbox' required)

	p.submit
		button(type='submit' name='method' value='rm_air') Удалить
