.userManagement__changePasswordForm {
    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 10px;

    font-size: 20px;

    &__formItem {
        width: 100%;
    }
}
